.category {
    width: 100%;
    min-height: calc(100vh - 6em);

    .container1 {
        width: 100%;
        height: max-content;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .title {
            text-transform: capitalize;
            
            h2 {
                font-size: 2em;
            }
        }
    }
}