.card {
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(1em, 1em);
        border: 5px solid var(--accent-color);
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .pic {
        width: 100%;
        aspect-ratio: 1 / 1;
        box-shadow: inset 0px -30px 16px -23px #0c0c0c;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: top;
            image-rendering: crisp-edges;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5em;
        padding-inline: 1.5em 1em;

        .info {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            max-width: 75%;

            .title {
                font-weight: 600;
                color: var(--text-color);
                text-decoration: none;
                transition: 0.2s ease-out;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;

                &:hover {
                    color: var(--text-color-hover);
                }
            }
        }

        .button {
            display: flex;
            align-items: center;
            height: 100%;
            width: max-content;

            button {
                border: 3px solid var(--accent-color);
                outline: none;
                background-color: transparent;
                color: var(--accent-color);
                font-size: 1.2em;
                transition: 0.2s ease-out;
                aspect-ratio: 1 / 1;
                width: 2em;
                border-radius: 50vh;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &.added {
                    background-color: var(--accent-color);
                    color: var(--card-bg);
                    pointer-events: none;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: var(--accent-color);
                    color: var(--card-bg);
                }

                span {
                    position: absolute;
                }
            }
        }
    }
}