.login {
    width: 100%;
    min-height: calc(100vh - 6em);

    .container1 {
        width: 100%;
        height: calc(100vh - 6em);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        form {
            width: 25em;
            max-width: 85%;
            height: max-content;
            display: flex;
            flex-direction: column;
            background-color: var(--form-bg);
            padding: 2em;
            position: relative;
            gap: 3em;
            align-items: center;
            
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                right: 0;
                transform: translate(1.2em, 1.2em);
                border: 5px solid var(--accent-color);
                z-index: -1;
            }

            .top {
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                font-weight: 700;
                font-size: 1.2em;
                margin-bottom: 1em;
            }

            .inputs {
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: column;
                gap: 1em;

                .input {
                    height: max-content;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;

                    input {
                        height: 3em;
                        width: 100%;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        border-bottom: 3px solid var(--accent-color);
                        color: var(--text-color);
                        padding-inline: 1em 4em;
                        font-family: 'IBM Plex Mono', monospace;
                        transition: 0.2s ease-out;

                        &:-webkit-autofill {
                            appearance: none;
                            background-color: transparent !important;
                            color: var(--bg-color) !important;
                        }
                    }

                    span {
                        position: absolute;
                        right: 1em;
                        color: var(--accent-color);
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s ease-out;
                    }

                    &.error {
                        span {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .button {
                width: max-content;
                height: max-content;
                position: relative;
                transition: 0.2s ease-out;
                margin-top: 1em;
                z-index: 1;
        
                &:hover {
                    transform: scale(1.1);
        
                    &::before {
                        transform: translate(1.2em, 0.8em) scale(0.9);
                    }
                }
        
                &:active {
                    transform: scale(0.9);
        
                    &::before {
                        transform: translate(0.3em, 0.3em) scale(1);
                    }
                }
        
                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: 0.2s ease-out;
                    transform: translate(0.6em, 0.6em);
                    border: 4px solid var(--accent-color);
                }
        
                button {
                    border: none;
                    outline: none;
                    padding: 0.8em 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    color: var(--accent-color);
                    background-color: var(--button-bg);
                    gap: 0.5em;
                    cursor: pointer;
                }
            }
        }
    }
}